.calendarContainer {
    margin: 2rem;
    background-color: white;
    border-radius: 2rem;
    width: fit-content;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 25px;
}

.text {
    text-align: left;
}

.example {
    width: 2rem;
    height: 2rem;

}


.monthSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.calendarDates {
    margin: 1rem;
}

.calendar {
    position: relative;
    background: white;
    color: black;
    width: 40rem;

}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

@media (max-width: 800px) {
    .calendar {
        width: 2rem;
        font-size: 10px;
    }

    .text {
        text-align: center;
    }


    .container {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .bookingForm {
        display: flex;
        flex-direction: row;
    }
}