.calendarContainer {
    margin: 2rem;
    color: white;
    border-radius: 2rem;
    width: fit-content;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 15px;
}


.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
}

.monthSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.calendarDates {
    margin: 1rem;
}

.calendar {
    background: white;
    color: black;
    width: 40rem;

}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.button {
    background-color: #00A8D1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.button:active {
    background-color: #9CD4E1; 

}

@media (max-width: 600px) {
    .calendar {
        width: 10rem;
        font-size: 20px;
    }

    .container {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}