.calendarContainer {
    margin: 2rem;
    background: black;
    border-radius: 2rem;
    color: white;
    width: fit-content;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    display:flex;
    align-items: center;
    justify-content: left;
}

.monthSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.calendar {
    background: white;
    color: black;
    width: 40rem;
    
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
@media (max-width: 600px) {
    .calendar {
      width: 10rem;
      font-size: 20px;
    }
    .container {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
  }