html,

:root {
  --clr-neutral-900: hsl(207,19%,9%);
  --clr-neutral-100: hsl(0,0,100%); 
  --clr-accent-400: hsl(142, 90% 61%); 
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.5; 
    background: var(--clr-neutral-100); 
}
.content {
  margin-left: 2rem;
  margin-right: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box; 
}
