html {
  height: 100%;

}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0, 100%);
  --clr-accent-400: hsl(142, 90% 61%);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

footer {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  align-items: flex-end; 
  padding-right: 4rem;
  padding-left: 4rem;
  background: rgba(0, 171, 222, 0.1);

}
footer p {
  color:  rgba(0, 0, 0, 1);

}
.footerDiv {
  position: fixed; 
  bottom: 0; 
  z-index: -1; 
  width: 100%;
}

.button {
  background-color: #00ABDE; 
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  font-weight: bold;
}

.button:active {
  background-color: #9CD4E1; 

}
.button:hover {
  opacity: 0.8;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}