.container {

  display: flex;
  flex-direction: column;
  width: 100%;

}



.title {
  font-family: Grenadier;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}




.subText {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: 1rem 1rem 0rem 0rem;
  color: var(--clr-neutral-100);
  background-size: cover;
  width: 60vw;
  height: 60vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  animation: slideInFromBottom 2s;
}

.cardContent {
  padding: 2rem; 
  position: relative;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.8));

}
@keyframes slideInFromBottom {

  0% {
    transform: translate(0, 200%);
  }

  100% {
    transform: translate(0, 0);
  }
}


@media(hover) {
  .cardContent {
    transition: transform 500ms ease;
    transform: translateY(40%);
  }
  .cardContent>*:not(.title) {
    opacity: 0;
    transition: opacity 200ms linear;
  }
  
  .card:hover .cardContent>*,
  .card:focus-within .cardContent>* {
    opacity: 1;
  }
  
  .card:hover .cardContent,
  .card:focus-within .cardContent {
    transform: translateY(0);
  }
  
}

@media (max-width: 800px) {
  .card {
    height: 40vh;
    width: 100%;
    margin: 0; 
    border-radius: 0;
  }
  .cardContent {
    padding: 1rem; 
  }
 .title {
  font-size: 2rem;
 }
 .subText {
   font-size: 1rem; 
 }
}