.title {
  position: relative;
  color: white;
}

.subText {
  position: relative;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  animation: fadeIn 1s;
}

.introductionContent {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.6));
}

.card {
  border-radius: 1rem;
  color: var(--clr-neutral-100);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin: 25px;
  animation: slideInFromBottom 2s;
}

.cardContent {
  padding: 2rem;
  position: relative;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.4));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {

  0% {
    transform: translate(0, 200%);
  }

  100% {
    transform: translate(0, 0);
  }
}


@media(hover) {
  .cardContent {
    transition: transform 500ms ease;
    transform: translateY(40%);
  }

  .cardContent>*:not(.title) {
    opacity: 0;
    transition: opacity 200ms linear;
  }

  .card:hover .cardContent>*,
  .card:focus-within .cardContent>* {
    opacity: 1;
  }

  .card:hover .cardContent,
  .card:focus-within .cardContent {
    transform: translateY(0);
  }

}


@media (max-width: 800px) {
  .card {
    border-radius: initial;
    margin: initial;
    height: 50vh;
  }
}