.nav {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMobile {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: -25rem;
  height: 100%;
  z-index: 1000;
  opacity: 0.9;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

.showSidebar {
  animation: sidebarSlideIn 1s forwards;
}
.hideSidebar {
  animation: sidebarSlideIn 1s forwards reverse;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  font-family: Grenadier;

  padding: 2rem;
  font-size: 2rem;
}

.linkButton:hover {
  border-bottom: 2px solid #9CD4E1;

}

@media (max-width: 600px) {


  .navMobile ul {
    list-style: none;
    padding: 2rem;
  }

  .navMobile li {
    padding-top: 2rem;
    padding-right: 2rem;
  }

}

@keyframes sidebarSlideIn {
  100% {
    left: 0rem;
  }
}
