.nav {
  background: rgb(49, 47, 47);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 9999;
}

.navMobile {
  background: rgb(49, 47, 47);
  color: white;
  position: fixed;
  top: 0;
  left: -25rem;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.showSidebar {
  animation: sidebarSlideIn 1s forwards;
}

.hideSidebar {
  animation: sidebarSlideIn 1s forwards reverse;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  font-family: Lora;

  padding: 1rem;
  font-size: 1rem;
}

.linkButton:hover {
  color: rgb(128, 128, 128);
  transition: color 1s;
  cursor: pointer;
}

.linkButton:active {
  color: rgb(128, 128, 128);
}

@media (max-width: 800px) {


  .navMobile ul {
    list-style: none;
    padding: 1rem;
  }

  .navMobile li {
    padding-top: 1rem;
    padding-right: 1rem;
  }

}

@keyframes sidebarSlideIn {
  100% {
    left: 0rem;
  }
}